<div id="comments_<%= comment.id %>">
  [<%= comment.created_at.strftime("%I: %M %p") %>]
  <%= comment.user.username %>:
  <%= comment.content %>
  <% if current_user && current_user == comment.user %>
    <td><%= link_to "Delete", document_comment_path(comment.document, comment), method: :delete, remote: true %></td>
  <% end %>
</div>
