 <div class="card">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tên tài Liệu </th>
          <th scope="col">Trạng Thái </th>
          <th scope="col">Xóa </th>
          <th scope="col">Chọn </th>
        </tr>
      </thead>
      <tbody>
        <% @documents.each do | document| %>
          <tr>
            <th scope="row"><%= document.id %></th>
            <td> <%= link_to document.name, admins_document_path(document) %> </td>
            <td id="status-document-<%= document.id%>"> <%= document.status %> </td>
            <td><%= link_to "Delete", admins_document_path(document), method: :delete, confirm: "Are you sure you want to delete #{document.name}?", class: "btn btn-sm btn-danger" %> </td>
            <td>
              <% if document.pending? %>
                <%= button_to "legal", admins_document_path(document, legal: true), method: :patch, remote: true, class: "button-legal-#{document.id} btn btn-sm btn-primary" %>
                <br>
                <%= button_to "illegal", admins_document_path(document, illegal: true), method: :patch, remote: true, class: "button-legal-#{document.id} btn btn-sm btn-primary" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
