<div class="container">
  <%= search_form_for @search, url: root_path do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name_cont %>
    </div>
    <div class="action">
      <%= f.submit "Search" %>
    </div>
  <% end %>
<div class="container">
  <%= link_to "New Document", new_document_path %>
  <table border="3">
    <thead>
      <tr>
        <th>Document name</th>
        <th>Download Link</th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
        <% if document.legal? %>
          <tr>
            <td><%= link_to document.name, document_path(document.id) %></td>
              <td><%= link_to "download", document_downloads_path(document), method: :post %></td>
            <td><iframe src="<%= pdfjs.full_path(file: document.attachment_url) %>" style="width: 550px; height: 780px;"></iframe></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
