<!DOCTYPE html>
<html>
  <head>
    <title>Pr1905</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title><%= yield(:title) %> | Admin E Document</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render "layouts/admins/navbar" %>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <p  class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-page">
      <%= yield %>
    </div>
  </body>
</html>
