<div class="container">
  <div id="logbox">
      <h1>Sign Up</h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,  placeholder: "Email address",  class: "form-control"%>
          </div>
          <div class="field form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Choose a password", required: "required",  class: "form-control" %>
          </div>
          <div class="field form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Choose a password", required: "required",  class: "form-control"%>
          </div>
          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
          </div>
        <h1><%= render "users/shared/links" %> </h1>
      <% end %>
     </div>
  </div>
</div>
